<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogsite</title>
</head>
<body>

    <header>
        <h1>Tech Blog</h1>
        <nav>
            <a href="/home">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/signup"></a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a> {{!--  TODO: solo si esta loggeade --}}
        </nav>
        </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        for more information visit <a href="https://github.com/Alejandro-jpeg" target="_blank"> My github</a>
    </footer>

</body>
</html>