<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Blogsite</title>
</head>
<body>

    <header>
        <h1 class="title">Tech Blog</h1>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/signup"></a>
            {{#if loggedIn}}
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
        </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        for more information visit <a href="https://github.com/Alejandro-jpeg" target="_blank"> My github</a>
    </footer>

</body>
</html>