<div>
    <h1>HOMEPAGE</h1>
    <div>
        {{#each posts as |post|}}
        <div>
            <p>
                {{post.title}}
                {{user.username}}
            </p>
            <p>
                {{post.content}}
            </p>
            <div>
                <a href="/api/posts/{{post.id}}">view details</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>