<div>
    <h1>HOMEPAGE</h1>
    <div>
        {{#each posts as |post|}}
        <div>
            <p>
                {{post.title}}
                {{user.username}}
            </p>
            <p>
                {{post.content}}
            </p>
        </div>
        {{/each}}
    </div>
</div>