<div>
    <form class="loggin-form">
        <div>
            <label>Emai Adress</label>
            <input type="text" id="email-login" placeholder="example@email.com">
        </div>
        <div>
            <label>Password</label>
            <input type="text" id="password-login" placeholder="************">
        </div>
        <div>
            <button type="submit">Login</button>
            <a href="/signup">signup</a>
        </div>
    </form>
</div>
<script src="./js/login.js"></script>