<div class="signing-card">
    <form class="signup-form">
        <div>
            <label>Username</label>
            <input type="text" id="username-signup" placeholder="Your Username Here">
        </div>
        <div>
            <label>Emai Adress</label>
            <input type="text" id="email-signup" placeholder="example@email.com">
        </div>
        <div>
            <label>Password</label>
            <input type="text" id="password-signup" placeholder="************">
        </div>
        <div>
            <button type="submit">signup</button>
            <a href="/login">login</a>
        </div>
    </form>
</div>
<script src="./js/signup.js"></script>